@font-face {
  font-family: 'EIisabethische';
  src: url('../../fonts/EIisabethische.eot');
  src: url('../../fonts/EIisabethische.eot') format('embedded-opentype'), url('../fonts/EIisabethische.woff2') format('woff2'), url('../fonts/EIisabethische.woff') format('woff'), url('../fonts/EIisabethische.ttf') format('truetype'), url('../fonts/EIisabethische.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Super';
  src: url('../../books/common/fonts/SuperMario3DWorld.eot');
  src: url('../../books/common/SuperMario3DWorld.eot?#iefix') format('embedded-opentype'), url('../../books/common/fonts/SuperMario3DWorld.woff2') format('woff2'), url('../../books/common/fonts/SuperMario3DWorld.woff') format('woff'), url('../../books/common/fonts/SuperMario3DWorld.ttf') format('truetype'), url('../../books/common/fonts/SuperMario3DWorld.svg#SuperMario3DWorld') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
.big_container {
  min-height: 100vh;
  background: url(../img/babochki.jpg) center no-repeat;
  background-size: cover;
  padding: 3rem;
}
h1 {
  font-family: 'Super', 'EIisabethische', sans-serif;
  font-size: 3.5rem;
}
h2 {
  font-family: 'Super', 'EIisabethische', sans-serif;
  font-size: 2rem;
}
a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
.page-bg {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 100vh;
  padding: 2rem;
}
.page {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  margin: 2rem;
  border: 1px solid white;
}
ul {
  font-family: 'Super', sans-serif;
  font-size: 1.5rem;
}
ul img {
  width: 100%;
  margin-bottom: 1rem;
}
ul a {
  color: black;
}
ul img:hover {
  text-align: center;
  font-size: 1.8rem;
  background-color: rgba(210, 255, 7, 0.4);
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
}
ul a:hover {
  color: green;
}
.backToMainPage {
  font-size: 2rem;
  color: #800000;
}
.backToMainPage:hover {
  color: #fc0505;
  text-shadow: 2px 2px 5px black;
}
@media (max-width: 575.98px) {
  .big_container {
    padding: 0rem;
  }
  .page-bg {
    padding: 0rem;
  }
  .page {
    padding: 0rem;
    margin: 0rem;
  }
  .backToMainPage {
    margin-left: 2rem;
  }
}
