html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
h1,
h2,
h4,
h4 {
  font-family: 'PT Serif';
}
p {
  font-family: 'Open Sans';
}
.afterVideo {
  z-index: -1;
  background: linear-gradient(117.12deg, #c8a492 4.88%, #d7ab94 37.36%, #f1ceb8 72.67%);
}
header {
  padding: 2rem 0;
}
header .logo {
  margin-left: 1rem;
}
.oneDay {
  -webkit-transform: translate3d(0, 3rem, 0);
          transform: translate3d(0, 3rem, 0);
}
.oneDay-text h1 {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 48px;
  color: #955555;
  margin-bottom: 2rem;
}
.oneDay-text .bold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 26px;
  color: #FFFFFF;
}
.oneDay-text .normal {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.oneDay .vikel,
.oneDay .tayanna {
  margin-top: 1rem;
}
.oneDay .sasha {
  margin-top: 1rem;
}
.oneDay .vikel,
.oneDay .sasha {
  width: 100%;
}
.oneDay .tayanna {
  width: 105%;
}
.oneDay .boxVikel {
  position: relative;
}
.oneDay .boxVikel .linkVikel {
  position: absolute;
  -webkit-transform: translate3d(10rem, -2rem, 0);
          transform: translate3d(10rem, -2rem, 0);
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  cursor: pointer;
}
.oneDay .boxVikel .linkVikel a {
  color: #FFFFFF;
}
.oneDay .boxVikel .linkVikel .link {
  padding: 0 0 1rem 2rem;
}
.oneDay .boxVikel a:hover {
  color: #C6E4AC;
  text-decoration: none;
}
.oneDay .vikel:hover {
  -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
          box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
}
.oneDay .boxSasha {
  position: relative;
}
.oneDay .boxSasha .linkVikel {
  position: absolute;
  -webkit-transform: translate3d(11rem, -2rem, 0);
          transform: translate3d(11rem, -2rem, 0);
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  cursor: pointer;
}
.oneDay .boxSasha .linkVikel a {
  color: #FFFFFF;
}
.oneDay .boxSasha .linkVikel .link {
  padding: 0 0 1rem 2rem;
}
.oneDay .boxSasha a:hover {
  color: #C6E4AC;
  text-decoration: none;
}
.oneDay .sasha:hover {
  -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
          box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
}
.oneDay .boxTayanna {
  position: relative;
}
.oneDay .boxTayanna .linkVikel {
  position: absolute;
  -webkit-transform: translate3d(9.5rem, -2rem, 0);
          transform: translate3d(9.5rem, -2rem, 0);
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  cursor: pointer;
}
.oneDay .boxTayanna .linkVikel a {
  color: #FFFFFF;
}
.oneDay .boxTayanna .linkVikel .link {
  padding: 0 0 1rem 2rem;
}
.oneDay .boxTayanna a:hover {
  color: #C6E4AC;
  text-decoration: none;
}
.oneDay .tayanna:hover {
  -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
          box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
}
.bg {
  position: relative;
}
.bg .eggs {
  position: absolute;
  top: -10rem;
  right: 0;
}
.bg .lines {
  position: absolute;
  top: 10rem;
  right: -51rem;
}
footer {
  padding: 2rem 0;
}
.for-parralax1 {
  position: relative;
}
.for-parralax1 .parralax1 {
  position: absolute;
  z-index: 1;
}
.for-parralax1 .parralax1 .one {
  -webkit-transform: translate3d(-34rem, 25rem, 0);
          transform: translate3d(-34rem, 25rem, 0);
}
.for-parralax1 .parralax1 .two {
  -webkit-transform: translate3d(-33rem, 24rem, 0);
          transform: translate3d(-33rem, 24rem, 0);
}
.for-parralax1 .parralax1 .three {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.for-parralax1 .parralax1 .four {
  -webkit-transform: translate3d(13rem, 0, 0);
          transform: translate3d(13rem, 0, 0);
}
.for-parralax1 .parralax1 .five {
  -webkit-transform: translate3d(16rem, 2rem, 1rem);
          transform: translate3d(16rem, 2rem, 1rem);
}
.for-parralax1 .parralax1 .six {
  -webkit-transform: translate3d(33rem, 20rem, 0);
          transform: translate3d(33rem, 20rem, 0);
}
.for-parralax1 .parralax1 .seven {
  -webkit-transform: translate3d(32rem, 1rem, 0);
          transform: translate3d(32rem, 1rem, 0);
}
