html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.afterVideo {
  z-index: -1;
  background: linear-gradient(117.12deg, #c8a492 4.88%, #d7ab94 37.36%, #f1ceb8 72.67%);
}
header {
  padding: 2rem 0;
}
header .logo {
  margin-left: 1rem;
}
.oneDay {
  -webkit-transform: translate3d(0, 3rem, 0);
          transform: translate3d(0, 3rem, 0);
}
.oneDay-text {
  width: 110%;
}
.oneDay-text h1 {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 48px;
  color: #955555;
  margin-bottom: 2rem;
}
.oneDay-text .bold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 26px;
  color: #FFFFFF;
}
.oneDay-text .normal {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.oneDay .vikel,
.oneDay .tayanna {
  margin-top: 1rem;
}
.oneDay .sasha {
  margin-top: 1rem;
}
.oneDay .vikel,
.oneDay .sasha {
  width: 100%;
}
.oneDay .tayanna {
  width: 105%;
}
.oneDay .boxVikel {
  position: relative;
}
.oneDay .boxVikel .linkVikel {
  position: absolute;
  -webkit-transform: translate3d(10rem, -2rem, 0);
          transform: translate3d(10rem, -2rem, 0);
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  cursor: pointer;
}
.oneDay .boxVikel .linkVikel a {
  color: #FFFFFF;
}
.oneDay .boxVikel .linkVikel .link {
  padding: 0 0 1rem 2rem;
}
.oneDay .boxVikel a:hover {
  color: #C6E4AC;
  text-decoration: none;
}
.oneDay .vikel:hover {
  -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
          box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
}
.oneDay .boxSasha {
  position: relative;
}
.oneDay .boxSasha .linkVikel {
  position: absolute;
  -webkit-transform: translate3d(11rem, -2rem, 0);
          transform: translate3d(11rem, -2rem, 0);
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  cursor: pointer;
}
.oneDay .boxSasha .linkVikel a {
  color: #FFFFFF;
}
.oneDay .boxSasha .linkVikel .link {
  padding: 0 0 1rem 2rem;
}
.oneDay .boxSasha a:hover {
  color: #C6E4AC;
  text-decoration: none;
}
.oneDay .sasha:hover {
  -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
          box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
}
.oneDay .boxTayanna {
  position: relative;
}
.oneDay .boxTayanna .linkVikel {
  position: absolute;
  -webkit-transform: translate3d(9.5rem, -2rem, 0);
          transform: translate3d(9.5rem, -2rem, 0);
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  cursor: pointer;
}
.oneDay .boxTayanna .linkVikel a {
  color: #FFFFFF;
}
.oneDay .boxTayanna .linkVikel .link {
  padding: 0 0 1rem 2rem;
}
.oneDay .boxTayanna a:hover {
  color: #C6E4AC;
  text-decoration: none;
}
.oneDay .tayanna:hover {
  -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
          box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
}
.bg {
  position: relative;
}
.bg .eggs {
  position: absolute;
  top: -10rem;
  right: 0;
}
.bg .lines {
  position: absolute;
  top: 10rem;
  right: -51rem;
}
footer {
  padding: 2rem 0;
}
.for-parralax1 {
  position: relative;
}
.for-parralax1 .parralax1 {
  position: absolute;
  z-index: 1;
}
.for-parralax1 .parralax1 .one {
  -webkit-transform: translate3d(-34rem, 25rem, 0);
          transform: translate3d(-34rem, 25rem, 0);
}
.for-parralax1 .parralax1 .two {
  -webkit-transform: translate3d(-33rem, 24rem, 0);
          transform: translate3d(-33rem, 24rem, 0);
}
.for-parralax1 .parralax1 .three {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.for-parralax1 .parralax1 .four {
  -webkit-transform: translate3d(13rem, 0, 0);
          transform: translate3d(13rem, 0, 0);
}
.for-parralax1 .parralax1 .five {
  -webkit-transform: translate3d(16rem, 2rem, 1rem);
          transform: translate3d(16rem, 2rem, 1rem);
}
.for-parralax1 .parralax1 .six {
  -webkit-transform: translate3d(33rem, 20rem, 0);
          transform: translate3d(33rem, 20rem, 0);
}
.for-parralax1 .parralax1 .seven {
  -webkit-transform: translate3d(32rem, 1rem, 0);
          transform: translate3d(32rem, 1rem, 0);
}
@media (max-width: 320px) and (max-width: 374.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: -2rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 75%;
    padding-bottom: 3rem;
    padding-left: 2rem;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1.5rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 100%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(10rem, -2rem, 0);
            transform: translate3d(10rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(11rem, -2rem, 0);
            transform: translate3d(11rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .oneDay .boxTayanna {
    position: relative;
    width: 92vw;
    height: 60vw;
  }
  .oneDay .boxTayanna img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(12.5rem, -2rem, 0);
            transform: translate3d(12.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    display: none;
    padding: 0 0 1rem 1rem;
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -15rem;
    right: -5rem;
  }
  .bg .lines {
    position: absolute;
    top: 21rem;
    right: -3rem;
  }
  .bg .lines img {
    -webkit-transform: translate3d(0, 8rem, 0);
            transform: translate3d(0, 8rem, 0);
  }
  footer {
    padding: 7rem 0 0 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-21rem, 25rem, 0);
            transform: translate3d(-21rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-16rem, 24rem, 0);
            transform: translate3d(-16rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(10rem, 36rem, 0);
            transform: translate3d(10rem, 36rem, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(10rem, 20rem, 0);
            transform: translate3d(10rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(10rem, 30rem, 1rem);
            transform: translate3d(10rem, 30rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(-11rem, 82rem, 0);
            transform: translate3d(-11rem, 82rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(-8rem, 80rem, 0);
            transform: translate3d(-8rem, 80rem, 0);
  }
}
@media (max-width: 375px) and (max-width: 575.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: -2rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 75%;
    padding-bottom: 3rem;
    padding-left: 2rem;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1.5rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 100%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(12rem, -2rem, 0);
            transform: translate3d(12rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(13rem, -2rem, 0);
            transform: translate3d(13rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .oneDay .boxTayanna {
    position: relative;
    width: 92vw;
    height: 60vw;
  }
  .oneDay .boxTayanna img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(16.5rem, -2rem, 0);
            transform: translate3d(16.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    display: none;
    padding: 0 0 1rem 1rem;
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -15rem;
    right: -5rem;
  }
  .bg .lines {
    position: absolute;
    top: 21rem;
    right: -3rem;
  }
  footer {
    padding: 7rem 0 0 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-21rem, 25rem, 0);
            transform: translate3d(-21rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-16rem, 24rem, 0);
            transform: translate3d(-16rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(10rem, 36rem, 0);
            transform: translate3d(10rem, 36rem, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(10rem, 20rem, 0);
            transform: translate3d(10rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(10rem, 30rem, 1rem);
            transform: translate3d(10rem, 30rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(-11rem, 82rem, 0);
            transform: translate3d(-11rem, 82rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(-8rem, 80rem, 0);
            transform: translate3d(-8rem, 80rem, 0);
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: -5rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 120%;
    padding-bottom: 3rem;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1.5rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 115%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(24rem, -2rem, 0);
            transform: translate3d(24rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(25rem, -2rem, 0);
            transform: translate3d(25rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .oneDay .boxTayanna {
    position: relative;
    width: 95vw;
    height: 60vw;
  }
  .oneDay .boxTayanna img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(28.5rem, -2rem, 0);
            transform: translate3d(28.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 7rem;
    right: 0rem;
  }
  footer {
    padding: 7rem 0 0 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-21rem, 25rem, 0);
            transform: translate3d(-21rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-19rem, 24rem, 0);
            transform: translate3d(-19rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 20rem, 0);
            transform: translate3d(0, 20rem, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(10rem, 20rem, 0);
            transform: translate3d(10rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(11rem, 22rem, 1rem);
            transform: translate3d(11rem, 22rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(-12rem, 90rem, 0);
            transform: translate3d(-12rem, 90rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(-10rem, 80rem, 0);
            transform: translate3d(-10rem, 80rem, 0);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: 4rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 120%;
    padding-bottom: 3rem;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1.5rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 115%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(3rem, -2rem, 0);
            transform: translate3d(3rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(4rem, -2rem, 0);
            transform: translate3d(4rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(4.5rem, -2rem, 0);
            transform: translate3d(4.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 1rem;
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 13rem;
    right: -36rem;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-21rem, 25rem, 0);
            transform: translate3d(-21rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-19rem, 24rem, 0);
            transform: translate3d(-19rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(10rem, 0, 0);
            transform: translate3d(10rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(11rem, 2rem, 1rem);
            transform: translate3d(11rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(23rem, 20rem, 0);
            transform: translate3d(23rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(21rem, 1rem, 0);
            transform: translate3d(21rem, 1rem, 0);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: 2rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 120%;
    padding-bottom: 3rem;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1.5rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 110%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(5rem, -2rem, 0);
            transform: translate3d(5rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(6rem, -2rem, 0);
            transform: translate3d(6rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(5.5rem, -2rem, 0);
            transform: translate3d(5.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 10rem;
    right: -51rem;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-27rem, 25rem, 0);
            transform: translate3d(-27rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-26rem, 24rem, 0);
            transform: translate3d(-26rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(10rem, 0, 0);
            transform: translate3d(10rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(13rem, 2rem, 1rem);
            transform: translate3d(13rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(27rem, 20rem, 0);
            transform: translate3d(27rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(26rem, 1rem, 0);
            transform: translate3d(26rem, 1rem, 0);
  }
}
@media (min-width: 1408px) and (max-width: 1439.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(12rem, -2rem, 0);
            transform: translate3d(12rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(13rem, -2rem, 0);
            transform: translate3d(13rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(10.5rem, -2rem, 0);
            transform: translate3d(10.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 13rem;
    right: -57rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-37rem, 25rem, 0);
            transform: translate3d(-37rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-33rem, 24rem, 0);
            transform: translate3d(-33rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(13rem, 0, 0);
            transform: translate3d(13rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(16rem, 2rem, 1rem);
            transform: translate3d(16rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(37rem, 20rem, 0);
            transform: translate3d(37rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(32rem, 1rem, 0);
            transform: translate3d(32rem, 1rem, 0);
  }
}
@media (min-width: 1440px) and (max-width: 1479.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(12rem, -2rem, 0);
            transform: translate3d(12rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(13rem, -2rem, 0);
            transform: translate3d(13rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(10.5rem, -2rem, 0);
            transform: translate3d(10.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 13rem;
    right: -58rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-37rem, 25rem, 0);
            transform: translate3d(-37rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-33rem, 24rem, 0);
            transform: translate3d(-33rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(13rem, 0, 0);
            transform: translate3d(13rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(16rem, 2rem, 1rem);
            transform: translate3d(16rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(37rem, 20rem, 0);
            transform: translate3d(37rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(32rem, 1rem, 0);
            transform: translate3d(32rem, 1rem, 0);
  }
}
@media (min-width: 1480px) and (max-width: 1535.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(13rem, -2rem, 0);
            transform: translate3d(13rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(14rem, -2rem, 0);
            transform: translate3d(14rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(11.5rem, -2rem, 0);
            transform: translate3d(11.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 13rem;
    right: -64rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-37rem, 25rem, 0);
            transform: translate3d(-37rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-33rem, 24rem, 0);
            transform: translate3d(-33rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(13rem, 0, 0);
            transform: translate3d(13rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(16rem, 2rem, 1rem);
            transform: translate3d(16rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(37rem, 20rem, 0);
            transform: translate3d(37rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(32rem, 1rem, 0);
            transform: translate3d(32rem, 1rem, 0);
  }
}
@media (min-width: 1536px) and (max-width: 1599.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(14rem, -2rem, 0);
            transform: translate3d(14rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(15rem, -2rem, 0);
            transform: translate3d(15rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(12.5rem, -2rem, 0);
            transform: translate3d(12.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 16rem;
    right: -68rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-39rem, 25rem, 0);
            transform: translate3d(-39rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-33rem, 24rem, 0);
            transform: translate3d(-33rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(13rem, 0, 0);
            transform: translate3d(13rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(19rem, 2rem, 1rem);
            transform: translate3d(19rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(40rem, 20rem, 0);
            transform: translate3d(40rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(32rem, 1rem, 0);
            transform: translate3d(32rem, 1rem, 0);
  }
}
@media (min-width: 1600px) and (max-width: 1679.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: -2rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(15rem, -2rem, 0);
            transform: translate3d(15rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(16rem, -2rem, 0);
            transform: translate3d(16rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(13.5rem, -2rem, 0);
            transform: translate3d(13.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 16rem;
    right: -68rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-39rem, 25rem, 0);
            transform: translate3d(-39rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-33rem, 24rem, 0);
            transform: translate3d(-33rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(13rem, 0, 0);
            transform: translate3d(13rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(19rem, 2rem, 1rem);
            transform: translate3d(19rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(40rem, 20rem, 0);
            transform: translate3d(40rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(32rem, 1rem, 0);
            transform: translate3d(32rem, 1rem, 0);
  }
}
@media (min-width: 1680px) and (max-width: 1919.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: -3rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 1rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(17rem, -2rem, 0);
            transform: translate3d(17rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(18rem, -2rem, 0);
            transform: translate3d(18rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(14.5rem, -2rem, 0);
            transform: translate3d(14.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 16rem;
    right: -68rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-41rem, 25rem, 0);
            transform: translate3d(-41rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-35rem, 24rem, 0);
            transform: translate3d(-35rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(15rem, 0, 0);
            transform: translate3d(15rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(21rem, 2rem, 1rem);
            transform: translate3d(21rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(44rem, 20rem, 0);
            transform: translate3d(44rem, 20rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(40rem, 1rem, 0);
            transform: translate3d(40rem, 1rem, 0);
  }
}
@media (min-width: 1920px) and (max-width: 2047.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: -5rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 2rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(20rem, -2rem, 0);
            transform: translate3d(20rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(21rem, -2rem, 0);
            transform: translate3d(21rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(16.5rem, -2rem, 0);
            transform: translate3d(16.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 24rem;
    right: -77rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-45rem, 25rem, 0);
            transform: translate3d(-45rem, 25rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-39rem, 24rem, 0);
            transform: translate3d(-39rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(15rem, 0, 0);
            transform: translate3d(15rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(23rem, 2rem, 1rem);
            transform: translate3d(23rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(50rem, 27rem, 0);
            transform: translate3d(50rem, 27rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(49rem, 1rem, 0);
            transform: translate3d(49rem, 1rem, 0);
  }
}
@media (min-width: 2048px) and (max-width: 2199.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: -6rem;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 2rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(22rem, -2rem, 0);
            transform: translate3d(22rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(23rem, -2rem, 0);
            transform: translate3d(23rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(18.5rem, -2rem, 0);
            transform: translate3d(18.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 28rem;
    right: -85rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-50rem, 30rem, 0);
            transform: translate3d(-50rem, 30rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-44rem, 24rem, 0);
            transform: translate3d(-44rem, 24rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(15rem, 0, 0);
            transform: translate3d(15rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(25rem, 2rem, 1rem);
            transform: translate3d(25rem, 2rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(52rem, 30rem, 0);
            transform: translate3d(52rem, 30rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(51rem, 1rem, 0);
            transform: translate3d(51rem, 1rem, 0);
  }
}
@media (min-width: 2200px) and (max-width: 2499.98px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: -9rem;
    width: 150%;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 2.4rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(25rem, -2rem, 0);
            transform: translate3d(25rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(26rem, -2rem, 0);
            transform: translate3d(26rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(20.5rem, -2rem, 0);
            transform: translate3d(20.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 31rem;
    right: -88rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-55rem, 31rem, 0);
            transform: translate3d(-55rem, 31rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-47rem, 26rem, 0);
            transform: translate3d(-47rem, 26rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(15rem, 0, 0);
            transform: translate3d(15rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(29rem, 3rem, 1rem);
            transform: translate3d(29rem, 3rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(56rem, 34rem, 0);
            transform: translate3d(56rem, 34rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(55rem, 1rem, 0);
            transform: translate3d(55rem, 1rem, 0);
  }
}
@media (min-width: 2500px) {
  header {
    padding: 2rem 0;
  }
  header .logo {
    margin-left: 1rem;
  }
  header .line {
    margin-left: -19rem;
    width: 150%;
  }
  .oneDay {
    -webkit-transform: translate3d(0, 3rem, 0);
            transform: translate3d(0, 3rem, 0);
  }
  .oneDay-text {
    width: 110%;
  }
  .oneDay .vikel,
  .oneDay .tayanna {
    margin-top: 1rem;
  }
  .oneDay .sasha {
    margin-top: 2.9rem;
  }
  .oneDay .vikel,
  .oneDay .sasha {
    width: 100%;
  }
  .oneDay .tayanna {
    width: 105%;
    margin-left: 1rem;
  }
  .oneDay .boxVikel {
    position: relative;
  }
  .oneDay .boxVikel .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(30rem, -2rem, 0);
            transform: translate3d(30rem, -2rem, 0);
  }
  .oneDay .boxVikel .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxVikel .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha {
    position: relative;
  }
  .oneDay .boxSasha .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(31rem, -2rem, 0);
            transform: translate3d(31rem, -2rem, 0);
  }
  .oneDay .boxSasha .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxSasha .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .boxSasha a:hover {
    color: #C6E4AC;
    text-decoration: none;
  }
  .oneDay .boxTayanna {
    position: relative;
  }
  .oneDay .boxTayanna .linkVikel {
    position: absolute;
    -webkit-transform: translate3d(25.5rem, -2rem, 0);
            transform: translate3d(25.5rem, -2rem, 0);
  }
  .oneDay .boxTayanna .linkVikel a {
    color: #FFFFFF;
  }
  .oneDay .boxTayanna .linkVikel .link {
    padding: 0 0 1rem 2rem;
  }
  .oneDay .tayanna:hover {
    -webkit-box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
            box-shadow: 0px 4px 30px rgba(186, 142, 122, 0.8);
  }
  .bg {
    position: relative;
  }
  .bg .eggs {
    position: absolute;
    top: -10rem;
    right: 0;
  }
  .bg .lines {
    position: absolute;
    top: 31rem;
    right: -88rem;
  }
  footer {
    padding: 2rem 0;
  }
  .for-parralax1 {
    position: relative;
  }
  .for-parralax1 .parralax1 {
    position: absolute;
    z-index: 1;
  }
  .for-parralax1 .parralax1 .one {
    -webkit-transform: translate3d(-60rem, 33rem, 0);
            transform: translate3d(-60rem, 33rem, 0);
  }
  .for-parralax1 .parralax1 .two {
    -webkit-transform: translate3d(-50rem, 28rem, 0);
            transform: translate3d(-50rem, 28rem, 0);
  }
  .for-parralax1 .parralax1 .three {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .for-parralax1 .parralax1 .four {
    -webkit-transform: translate3d(18rem, 0, 0);
            transform: translate3d(18rem, 0, 0);
  }
  .for-parralax1 .parralax1 .five {
    -webkit-transform: translate3d(31rem, 3rem, 1rem);
            transform: translate3d(31rem, 3rem, 1rem);
  }
  .for-parralax1 .parralax1 .six {
    -webkit-transform: translate3d(64rem, 40rem, 0);
            transform: translate3d(64rem, 40rem, 0);
  }
  .for-parralax1 .parralax1 .seven {
    -webkit-transform: translate3d(62rem, 5rem, 0);
            transform: translate3d(62rem, 5rem, 0);
  }
}
