/* миксины для шрифтов */
/* basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'Alegreya Sans', sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
/* стили */
.panel {
  margin-bottom: -0.1rem;
  background: #000000 url(../img/bg-header.jpeg) center repeat;
  background-size: 70%;
  color: white;
}
.panel a {
  color: white;
}
.panel a:hover {
  color: grey;
}
.panel-site {
  position: relative;
  padding: 1rem;
  font-size: 2rem; 
  text-align: right;
  margin-right: 2rem;
}
.panel-site-name {
  position: absolute;
  top: -1rem; 
  left: 0;
  display: inline-block;
  padding-left: 2rem;
  margin-right: 4rem;
}
.panel-site-button {
  background: black; 
}
.panel-site-link {
  text-transform: uppercase;
  background: black;
}
.panel-site-link li a {
  text-align: center;
  color: white;
}
.first {
  background: #ffffff url(../img/bg-1.jpg) center no-repeat;
  background-size: cover;
  padding: 6.5rem 0 6.5rem 0;
}
.my-name {
  background-color: white;
  padding: 5rem;
  margin: 5rem;
}
.my-name h1 {
  font-family: 'Lobster', cursive;
  margin-bottom: 2.5rem;
}
.my-name p {
  font-size: 2rem;
}
.my-name-contacts {
  font-size: 2.2rem;
  text-align: center;
}
.my-foto img {
  padding: 2rem;
  max-width: 100%;
}
.aboute {
  background: #ffffff url(../img/bg-2.jpg) center no-repeat;
  background-size: cover;
  font-size: 2.2rem;
  padding: 3rem;
}
.work {
  background-color: #f3f3f3;
  padding: 0 5rem 5rem 5rem;
}
.work-text {
  background: #ffffff url(../img/bg-3.jpg) center repeat;
  background-size: 35%;
  font-size: 2rem;
  color: black;
}
.work-name {
  color: white;
  background-color: black;
  font-size: 2.1rem;
}
.panel-default > .panel-heading {
  background-color: black;
}
.skills {
  background: #ffffff url(../img/bg-4.jpg) right no-repeat;
  background-size: 55%;
  padding: 0 5rem 5rem 5rem;
  margin: 5rem 0 5rem 0;
}
.skills h2 {
  padding-bottom: 2rem;
}
.skills li {
  font-size: 2rem;
  list-style: none;
  /* Убираем исходные маркеры */
  background: url(../img/yes.svg) 0 0 no-repeat;
  /* Параметры фона */
  background-size: 2%;
  padding-left: 3rem;
  /* Смещаем текст вправо */
}
.inform {
  font-size: 2rem;
  padding-left: 10rem;
}
@media (max-width: 768px) { 
	.inform {
    padding-left: 2rem;
  }
  .skills {
    padding-left: 2rem;
  }
  .skills li {
    background-size: 9%;
  }
	

}
